.main {
  background-color: #0A0D16;
  animation-name: fadeIn;
  animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 100px 0 0 0;
  position: relative;
}

.candidates-container {
  display: flex;
  justify-content: center;
}

.candidate {
  margin: 0 50px;
}
