.nav-main {
  border: none;
  background-color: transparent;
  color: #151b1e;
  display: inline-block;
  font-size: 15px;
  position: relative;
  min-width: 50px;
  margin: 0 !important;
  text-align: center;
  cursor: pointer;
  outline: none;
  padding-right: 20px;
  padding-left: 20px;
  user-select: none;
}

.nav-main:hover {
  color: #8D8D8D;
}

.nav-main:focus {
  border: none;
  outline: none;
}

.vote {
  border: 2px solid pink;
  background-color: transparent;
  color: #151b1e;
  display: inline-block;
  font-size: 15px;
  position: relative;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 0 10px;
  margin: 5px 0 20px 0;
  user-select: none;
}

.vote:hover {
  background-color: pink;
}

.vote:focus {
  border: none;
  outline: none;
}

.vote:active {
  background-color: palevioletred;
}
