:global(#root) {
  display: flex;
}

:global(.app) {
  -webkit-font-smoothing: antialiased;
  color: #151b1e;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
  font-family: Circular Pro, sans-serif;
  height: 100vh;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

:global(.app-body) {
  -ms-flex-positive: 1;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-box-orient: horizontal;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  margin-top: 55px;
  overflow-x: hidden;
  position: relative;
}
