/* .header {
  align-items: center;
  background-color: #fffcf5;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100px;
  left: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  right: 0;
  top: 0;
} */

.main {
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  align-items: center;
  border-bottom: 1px solid #c2cfd6;
  box-sizing: border-box;
  display: flex;
  height: 55px;
  left: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  min-width: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  user-select: none;
  width: 100vw;
}

/* .header-inner {
  display: flex;
  flex-direction: row;
} */

.brand {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  width: 30%;
}

.brand img {
  max-height: 50px;
  margin-right: 10px;
}

.title {
  font-size: 20px;
}

.nav-container {
  display: inline-block;
  position: fixed;
  right: 20px;
}
